[submodule "sdk-api"]
	path = sdk-api
	url = https://github.com/MicrosoftDocs/sdk-api.git
[submodule "windows-driver-docs-ddi"]
	path = windows-driver-docs-ddi
	url = https://github.com/MicrosoftDocs/windows-driver-docs-ddi
