[submodule "windows-driver-docs"]
	path = windows-driver-docs
	url = https://github.com/MicrosoftDocs/windows-driver-docs.git
[submodule "sdk-api"]
	path = sdk-api
	url = https://github.com/MicrosoftDocs/sdk-api.git
